@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif !important;
}

a {
  text-decoration: none;
}

p {
  font-family: var(--font-poppins), sans-serif;
}
